@font-face {
  font-family: coolvetica;
  src: url('./assets//fonts/coolvetica.ttf');
}


html,
body {
  height: 100%;
  margin: 0;
  font-family: 'coolvetica';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
